@font-face {
    font-family:"AlumniSans-Black" ;
    src: url("AlumniSans-Black.ttf");
}
@font-face {
    font-family:"AlumniSans-BlackItalic" ;
    src: url("AlumniSans-BlackItalic.ttf");
}
@font-face {
    font-family:"AlumniSans-Bold" ;
    src: url("AlumniSans-Bold.ttf");
}
@font-face {
    font-family:"AlumniSans-BoldItalic" ;
    src: url("AlumniSans-BoldItalic.ttf");
}
@font-face {
    font-family:"AlumniSans-ExtraBold" ;
    src: url("AlumniSans-ExtraBold.ttf");
}
@font-face {
    font-family:"AlumniSans-ExtraBoldItalic" ;
    src: url("AlumniSans-ExtraBoldItalic.ttf");
}
@font-face {
    font-family:"AlumniSans-ExtraLight" ;
    src: url("AlumniSans-ExtraLight.ttf");
}
@font-face {
    font-family:"AlumniSans-ExtraLightItalic" ;
    src: url("AlumniSans-ExtraLightItalic.ttf");
}
@font-face {
    font-family:"AlumniSans-Italic" ;
    src: url("AlumniSans-Italic.ttf");
}
@font-face {
    font-family:"AlumniSans-Italic-VariableFont_wght" ;
    src: url("AlumniSans-Italic-VariableFont_wght.ttf");
}
@font-face {
    font-family:"AlumniSans-Light" ;
    src: url("AlumniSans-Light.ttf");
}
@font-face {
    font-family:"AlumniSans-LightItalic" ;
    src: url("AlumniSans-LightItalic.ttf");
}
@font-face {
    font-family:"AlumniSans-Medium" ;
    src: url("AlumniSans-Medium.ttf");
}
@font-face {
    font-family:"AlumniSans-MediumItalic" ;
    src: url("AlumniSans-MediumItalic.ttf");
}
@font-face {
    font-family:"AlumniSans-Regular" ;
    src: url("AlumniSans-Regular.ttf");
}
@font-face {
    font-family:"AlumniSans-SemiBold" ;
    src: url("AlumniSans-SemiBold.ttf");
}
@font-face {
    font-family:"AlumniSans-SemiBoldItalic" ;
    src: url("AlumniSans-SemiBoldItalic.ttf");
}
@font-face {
    font-family:"AlumniSans-Thin" ;
    src: url("AlumniSans-Thin.ttf");
}
@font-face {
    font-family:"AlumniSans-ThinItalic" ;
    src: url("AlumniSans-ThinItalic.ttf");
}
@font-face {
    font-family:"AlumniSans-VariableFont_wght" ;
    src: url("AlumniSans-VariableFont_wght.ttf");
}
@font-face {
    font-family:"Comfortaa" ;
    src: url("Comfortaa.ttf");
}
@font-face {
    font-family:"Raleway" ;
    src: url("Raleway.ttf");
}
@font-face {
    font-family:"Raleway-Italic" ;
    src: url("Raleway-Italic.ttf");
}